@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Система анализа данных</h1>
    <p class="lead">Данная система позволяет управлять хранилищем данных нашего магазина.</p>
    <p><a href="https://vk.com/id151030619" class="btn btn-primary btn-lg">Связаться с разработчиком &raquo;</a></p>
</div>
